/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
 .left {
    left: 0;
    background-color: rgb(194, 195, 220);
    /* background-image: url(""); */
    /* height: 8000px; */
  }
  
  /* Control the right side */
.right {
    right: 0;
    background-color: rgb(99, 150, 208);
  }
  /* If you want the content centered horizontally and vertically */
 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  } 
   */
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 350px;
    border-radius: 70%;
  }
  /* body{
    background-image: 244-2449892_download-tumblr-png-image-transparent-multiple-circles-png.png;
  } */